*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;;
    background-size: cover;
    background-position: center;
}

#portfolio-icon{
    display: inline;
  }

h3,span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
span{
    color: red;
}

.container{
padding: 10px 4%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 10px 20px;
    display: inline-block;
    /* float: right; */
  }

  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    position : relative;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }

  nav ul li a:hover::after{
    width: 100%;
    color: #fff;
  }

  nav ul li a:visited{color: #fff;}

  .intro-text{
    margin-top: 17%;
  }

  .intro-text p{
    /* font-style: italic; */
    font-weight: bold;
  }

/*------------------------------------------------------------ about ----------------------------------------------------*/

#About{
    padding: 150px 0 100px;
    display: flex;
    justify-content: space-between; 
}

.myself{
    width : 50%
}

.myself h4{
    font-weight: bold;
}

.mypic{
    width : 50%
}

.mypic img{
    width: 65%;
    height: 80%;
    border-radius: 20px;
    float: right;
}

/*------------------------------------------------------------ Portfolio ----------------------------------------------------*/

#portfolio{
    display: flex;
    margin: 0 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.contents ul li{
    list-style-type: none;
    margin: 10px 0;
}

.contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.contents{
    display: none;
}

.contents.active-tab{
    display: block;
}


/* --------------------------------------------------------------------contact---------------------------------------- */
#contactme{
    margin-top: 100px;
}

 .contact-left{
   flex-basis: 35%;
 }

 .contact-left p{
    margin-bottom: 0;
 }

 .contact-right{
    flex-basis: 60%;
  }

 .contact-right form{
    width: 100%;
  }

  form input, form textarea{
    width: 100%;
  }


  .sub-title{
    font-weight: bold;
  }

  .social-icons p{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    text-decoration: none;
    font-size: 30px;
  }

  .social-icons p:hover{
    color: red;
    transform: translateY(-5px);
  }

  #msg{
    color: #fff;
    font-weight: lighter;
    margin-top: 10px;
    display: block;
  }

/* -----------------------------------------------------------------------------media queries------------------------------------------------- */
@media only screen and (max-width:600px) {

  #portfolio-icon{
    display: inline;
    margin:auto
  }

  .intro-text{
    margin-top: 30%;
  }

  nav ul{
    margin: 5% 5% 0 1%;
    padding :0;
  }
  nav ul li{
    margin-right: 0;
  }

  nav ul li a:visited{color: #fff;}

  #About{
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px;
  }

  .myself{
    width:80%
  }

  .mypic{
    width : 100%
    
}

.mypic img{
    /* width: 65%;
    height: 80%; */
    border-radius: 20px;
    float:left;
    margin-top: 10%;;
    margin-left: 15%;
}

.tab-links{
  margin-right: 20px;
}

.contact-left{
  flex-basis: 100%;
}

.contact-right{
  flex-basis: 100%;
  margin-top: 15px;
}
.contact-left p{
  font-size: small;
}

.social-icons p{
  font-size: larger;
  margin-top: 5px;
}
.contact-right form{
  height: 80%;
}

.contact-right form button{
  text-align: center;
}

form input{
  height: 47px;
  margin-bottom: 0;
}

form textarea{
  height: 150px;
}

.contact-right span{
  display: inline-block;
  text-align: right;
  width: 70%;
  float: right;
  padding-top: 10px;
  font-size: small;
}
}




 